// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");

@font-face {
  font-family: "Apfel Regular";
  src: url("../fonts/ApfelGrotezk-Regular.ttf");
}

@font-face {
  font-family: "Apfel Mittel";
  src: url("../fonts/ApfelGrotezk-Mittel.ttf");
}
