// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.custom-btn {
  $btn-lh: 60px;
  $btn-lh-sm: 56px;
  @extend %d-inline-block, %p-rel, %text-bold, %text-uppercase, %of-hidden;
  // border: 1px solid $theme-color;
  border-radius: 0.5rem;
  background-color: $team-orange;
  color: $wan-orange;
  font-family: $text-bold;
  padding-inline: 2rem;
  line-height: calc($btn-lh - 8px);
  @include shadow(black);
  @extend %THE-transition;
  &:hover {
    color: white;
    border-color: $secondary-color;
    transform: translateY(-2px);
  }

  span {
    position: inherit;
    z-index: 1;
  }

  &--fluid {
    @extend %w-100;
  }

  &--bordered {
    background-color: transparent;
    color: $title-color;

    &:hover {
      color: $title-color;
      border-color: $theme-color;

      &::before {
        border-bottom-color: $theme-color;
      }

      &::after {
        border-top-color: $theme-color;
      }
    }
  }

  &--sm {
    padding-inline: 1.5rem;
    height: $btn-lh-sm;
    line-height: $btn-lh-sm;
  }
}

.text-btn {
  color: $title-color;
  font-weight: 600;

  span {
    color: inherit;
    font-weight: inherit;
  }
}

.fb-btn {
  background-color: $facebook;
  border-radius: 0.25rem;
  color: $white-color;
  padding: 0.85rem 1.75rem;
  @extend %d-inline-block;

  span {
    @extend %me-10;
  }

  &:hover {
    color: $white-color;
  }
}

.btn-group {
  @extend %flex, %align-i-center;
  gap: 1rem;

  &--gap-xs {
    gap: 0.75rem;
  }

  &--gap-sm {
    gap: 1rem;
  }

  &--gap-md {
    gap: 1.5rem;
  }

  &--gap-lg {
    gap: 2rem;
  }
}
