.newsletter {
  &--lowerd {
    @extend %p-rel;
    margin-bottom: -150px;
    z-index: 1;
    .container {
      @media screen and (min-width: 768px) {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    @media screen and (max-width: 768px) {
      margin-bottom: -125px;
    }
  }

  &__wrapper {
    @extend %p-40;
    background-color: $section-bg-color;
    border-radius: 0.75rem;

    @include breakpoint(lg) {
      padding: 60px;
    }
  }

  .common-header {

    @extend %mb-30;

    @include breakpoint(lg) {
      margin-block-end: 40px;
    }

    h3 {
      line-height: 100%;
      max-inline-size: unset;
      @media screen and (max-width: 768px) {
        font-size: 33px;
      }
    }
  }
  .input-group {
  
    @media screen and (max-width: 768px) {
      .form-control {
        font-size: 14px
      }
      .subscribe-btn {
        font-size: 14px;
      }
    }
  }

  .form-control {
    padding-inline: 1.5rem;
    height: auto;
    font-family: $text-font;
    letter-spacing: .4px;
    &:focus {
      box-shadow: none;
      border-color: $theme-color;
    }
  }

  .subscribe-btn {
    @extend %text-bold, %text-uppercase;
    background-color: $team-orange;
    font-family: $text-bold;
    letter-spacing: 0.4px;
    border: none;
    box-shadow: none;
    color: $wan-orange;
    padding: 1rem 1.25rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    @extend %THE-transition;
    @include breakpoint(lg) {
      padding: 1.35rem 1.75rem;
    }
    &:hover {
      color: white;
    }
  }
}
input,
.form-control {
  border: none;
  border-radius: 0.5rem;
}
