// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

$line-color: #ffffff17;
$line-thickness: 1.5px;
.footer {
  .newsletter {
    .subtitle {
      color: $secondary-color;
      text-align: center;
      margin: 0 auto;
    }
  }
  div.hours span span.subheading,
  .subheading {
    color: #ffffff70;
  }
  .subtitle {
    color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  &:not(.h3) {
    font-size: 19px;
    letter-spacing: 0.4px;
    line-height: 120%;
  }
  hr {
    margin-top: 50px;
    background-color: $line-color;
    height: $line-thickness;
  }
  @extend %of-hidden;

  &__wrapper {
    background-color: $secondary-color;
    padding-block-start: 200px;
    .container {
      .row {
        .weather {
          border-left: $line-thickness solid $line-color;
          padding-left: 7rem;
          padding-right: 7rem;
          position: relative;
          padding-top: 1rem;
          @media screen and (max-width: 768px) {
            border-left: none;
            border-top: $line-thickness solid $line-color;
            padding-top: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
          }
        }
      }
    }
    @include breakpoint(sm) {
      padding-block-start: 250px;
    }
  }
  .logo__block {
    padding-bottom: 60px;
    .footer__brand {
      top: 5px;
      position: relative;
      img {
        width: 450px;
      }
    }
  }

  //footer block css
  &__block {
    &-title {
      // @extend %mb-2;
      @include breakpoint(lg) {
        margin-block-end: 17px;
      }

      h3 {
        @extend %mb-0;
        color: rgba(white, 50%);
        font-size: 32px;
      }
    }
  }

  //Footer about css
  &__about {
    .footer__brand {
      @extend %d-inline-block, %mb-20;
      width: 90%;
      top: 5px;
      position: relative;
      margin-left: -6px;
    }

    > p {
      @extend %mb-30;
      color: $white-color;
    }

    .social__block,
    div {
      color: white;
    }
    .hours {
      h6 {
        color: $white-color;
      }

      .social__link {
        color: $team-orange;
      }
    }
    .hours {
      // @extend %flex;

      span {
        @extend %me-10;
        &:first-of-type {
          @include box(30px);
        }
        i,
        svg {
          color: $team-orange;
        }
        &:last-of-type {
          color: white;
        }
      }
    }
  }

  &__logo {
    @extend %d-inline-block, %mb-25;
  }

  //footer links css
  &__links {
    &-item {
      @include add-prefix(transition, $transition);

      &:not(:last-child) {
        @extend %mb-15;
      }

      a {
        @extend %text-medium;
        color: $white-color;

        span {
          @extend %me-10;

          i,
          svg {
            color: $theme-color;
          }
        }
      }

      &:hover {
        @include add-prefix(transform, translateX(10px));

        a {
          color: $theme-color;
        }
      }
    }
  }

  // footer infos css
  &__info {
    &-item {
      &:not(:last-child) {
        @extend %mb-20;
      }

      @extend %flex;

      span {
        @include box(30px);

        i,
        svg {
          @include font-size(18px);
          color: $team-orange;
        }
      }

      p,
      a {
        @extend %mb-0;
        color: $white-color;
        flex: 1;
        max-inline-size: 21ch;
      }

      a {
        &:hover {
          color: $theme-color;
        }
      }
    }
  }

  //weather widget
  #weatherWidget {
    h1.locationName {
      font-family: "Cormorant", serif !important;
    }
  }

  // Footer bottom
  .footer-bottom {
    padding-bottom: 2rem;
    // display: inline-flex;
    .row {
      display: flex;
      [class*="col"] {
        p {
          color: white;
        }
        a {
          display: inline-flex;
        }
        &.teequest-portal {
          display: flex;
          justify-content: end;
        }
      }
    }
  }
}
